<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{link}}
<br>

<hr>
<style contenteditable style="display: block; white-space:pre;">
    body{
        background-color: aqua;
        font-size: 1.2em;
    }
</style>
<div style="display:flex;flex-wrap:wrap;flex-direction:column; white-space:pre;">
    {{res}}
</div>
</body>
</html>