<div class="conatiner" style="display: flex; flex-direction:row;">
    <div style="margin: 20px;margin-right:50px;">
        <form  method="post">
            <input type="hidden" name="key_value" value="normal">
            <div><label for="part">part :</label>
                <select name="part" id="part">
                    <option value="a">application</option>
                    <option value="o">operating system</option>
                    <option value="h">hardware</option>
                </select>
            </div><br>
            <div>
                <label for="vendor">vendor :</label>
                <input name="vendor" type="text" placeholder="vendor">
            </div><br>
            <div>
                <label for="product">product :</label>
                <input name="product" type="text" placeholder="product"></div><br>
            <div>
                <label for="version">version :</label>
                <input type="text" name="version" placeholder="version"></div><br>
            <div><input type="submit" value="submit"></div>
        </form>
    </div>
    <div style="margin: 20px;">
        <form method="post">
            <input type="hidden" name="key_value" value="keyword">
            <div>
                <label for="keyword">keyword :</label>
                <input type="text" name="keyword" placeholder="keyword">
            </div><br>
            <input type="submit" value="submit">
        </form>
    </div>
</div>